bcrypt>=4.2.1
joblib>=1.3.0
lightgbm>=4.6.0
numpy>=2.2.2
pefile>=2023.2.7
PySide6>=6.8.0
python-dotenv>=1.0.1
PyYAML>=6.0.2
reportlab>=4.2.5
scikit-learn>=1.3.0
scipy>=1.15.1
SQLAlchemy>=2.0.36
WMI>=1.5.1

# Tooling
pyinstaller>=6.4.0
pytest>=8.3.4
ollama>=0.4.0
